flows (2).json
[{"id":"c5adc523.8bec68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c44597d5.b9acf8","type":"inject","z":"c5adc523.8bec68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":500,"wires":[["2ead585f.5b6778"]]},{"id":"2ead585f.5b6778","type":"http request","z":"c5adc523.8bec68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openaq.org/v1/measurements?city=London&parameter=so2","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":500,"wires":[["125f0494.1dd89b"]]},{"id":"125f0494.1dd89b","type":"json","z":"c5adc523.8bec68","name":"","property":"payload","action":"","pretty":false,"x":530,"y":500,"wires":[["ecdcb46d.5b0e38","fab7b6d0.97fde8"]]},{"id":"ecdcb46d.5b0e38","type":"function","z":"c5adc523.8bec68","name":"filter data","func":" for (var i=0;i<msg.payload.results.length;i++){\n\n    var so2=msg.payload.results[i].value;\n    var date=msg.payload.results[i].date.local;\n    var lat=msg.payload.results[i].coordinates.latitude;\n    var lon=msg.payload.results[i].coordinates.longitude;\n    var data1 ={so2:\"\",date:\"\",lat:\"\",lon:\"\"};\n    var result=[];\n    data1.so2=so2;\n    data1.date=date;\n    data1.lat=lat;\n    data1.lon=lon;\n    result.push(data1);\n    var msg2 = {payload:result};\n    node.send(msg2);\n }\n   \n \n      \n    \n    \n","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["d0f39b17.6bf888","1892e4f9.36bafb"]]},{"id":"c11c6c52.86083","type":"file","z":"c5adc523.8bec68","name":"data save","filename":"C:\\Users\\Lefteris\\.node-red\\node_modules\\sqlite3\\telikos.txt","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1020,"y":500,"wires":[["b7b580f2.772e1"]]},{"id":"85059590.925bc8","type":"inject","z":"c5adc523.8bec68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":660,"wires":[["b01740d6.f88e1"]]},{"id":"23b73bb3.5123e4","type":"split","z":"c5adc523.8bec68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":660,"wires":[["94bf826c.d4f0e"]]},{"id":"94bf826c.d4f0e","type":"function","z":"c5adc523.8bec68","name":"spilt","func":"\nvar so2=new Array();\nfor(var i=0;i<1000;i++){\nso2[i]=msg.payload.so2;\nmsg.payload={};\nmsg.payload=so2;\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"x":670,"y":660,"wires":[["9540b844.fb73b8"]]},{"id":"9540b844.fb73b8","type":"join","z":"c5adc523.8bec68","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":660,"wires":[["bddb9378.8b778"]]},{"id":"bddb9378.8b778","type":"function","z":"c5adc523.8bec68","name":"k","func":"var clusterMaker = context.global.clusters;\n\n//number of clusters, defaults to undefined\nclusterMaker.k(2);\n\n//number of iterations (higher number gives more time to converge), defaults to 1000\nclusterMaker.iterations(750);\n\n//data from which to identify clusters, defaults to []\n//clusterMaker.data([[1, 0], [0, 1], [0, 0], [-10, 10], [-9, 11], [10, 10], [11, 12]]);\n//clusterMaker.data([[43], [45], [47], [51]]);\n\nclusterMaker.data(msg.payload);\nmsg.payload=clusterMaker.clusters();\n\nmsg.payload.sort(function(a, b) {\n    return parseFloat(a.centroid) - parseFloat(b.centroid);\n});\n\n\nglobal.set(\"foundclusters\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":660,"wires":[["b91698f9.a94788"]]},{"id":"f92295ab.1139c8","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"so2,date,lat,lon","skip":"0","strings":true,"x":410,"y":660,"wires":[["23b73bb3.5123e4"]]},{"id":"d0f39b17.6bf888","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"so2,date,lat,lon","skip":"0","strings":false,"x":870,"y":500,"wires":[["c11c6c52.86083"]]},{"id":"b01740d6.f88e1","type":"file in","z":"c5adc523.8bec68","name":"data save","filename":"C:\\Users\\Lefteris\\.node-red\\node_modules\\sqlite3\\telikos.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":280,"y":660,"wires":[["f92295ab.1139c8"]]},{"id":"1b991002.cd419","type":"function","z":"c5adc523.8bec68","name":"data to map","func":"var so2=msg.payload.so2;\nvar date=msg.payload.date;\nlocalclusters=global.get(\"foundclusters\");\nvar overall_cluster=-1;\nvar diff;\nvar min=10000000;\nfor (var k=0;k<localclusters.length;k++){\n    diff=Math.abs(localclusters[k].centroid[0]-so2);\n    if (diff<min){\n        overall_cluster=k;\n        min=diff;\n    }\n    console.log(Math.abs(localclusters[k].centroid[0]-so2));\n}\nvar lat=Number(msg.payload.lat)\nvar lon=Number(msg.payload.lon)\n\nmsg.payload.name=date;\nmsg.payload.lat=lat;\nmsg.payload.lon=lon;\nmsg.payload.so2=so2;\n//msg.payload.lat=lat1;\n//msg.payload.lon=lon;\nif (overall_cluster===0){\n    msg.payload.state=\"good state\";\n    msg.payload.iconColor='green';\n}\nif (overall_cluster===1){\n    msg.payload.state=\"bad state\";\n    msg.payload.iconColor='red';\n}\n//msg.payload.cluster_number=overall_cluster;\n//return msg;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":360,"wires":[["b6505309.36898","a288c36e.75449"]]},{"id":"eeb01028.59dc9","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"so2,date,lat,lon","skip":"0","strings":false,"x":990,"y":360,"wires":[["1b991002.cd419"]]},{"id":"1892e4f9.36bafb","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"so2,date,lat,lon","skip":"0","strings":false,"x":850,"y":360,"wires":[["eeb01028.59dc9"]]},{"id":"b6505309.36898","type":"worldmap","z":"c5adc523.8bec68","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1320,"y":360,"wires":[]},{"id":"3613789f.7da768","type":"file in","z":"c5adc523.8bec68","name":"data save","filename":"C:\\Users\\Lefteris\\.node-red\\node_modules\\sqlite3\\telikos.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":760,"y":280,"wires":[["48a1d76e.4f8578"]]},{"id":"48a1d76e.4f8578","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"so2,date,lat,lon","skip":"0","strings":true,"x":930,"y":280,"wires":[["fbf9f0b1.d84aa"]]},{"id":"fbf9f0b1.d84aa","type":"function","z":"c5adc523.8bec68","name":"","func":"var test=new Array;\n//var send ={};\nfor(var i=0;i<50;i++)\n{\ntest[i]=msg.payload[i].so2;\n}\n\nmsg.payload={};\n\n\n\n\nvar m = {};\nm.labels =[\"low\", \"In-low1\", \",medium\",\"medium1\",\"medium2\",\"high1\",\"high2\",\"high3\"];\nm.data = test;\nm.series = [\"so2\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":1070,"y":280,"wires":[["ec3cf504.a5dbe8"]]},{"id":"ec3cf504.a5dbe8","type":"ui_chart","z":"c5adc523.8bec68","name":"","group":"ed130616.0ef188","order":2,"width":6,"height":5,"label":"so2","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"8","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#20b345","#d1f89e","#f2ed1c","#c7cc00","#e29987","#ea6913","#ff0000","#ff0000","#400040"],"useOldStyle":false,"outputs":1,"x":1210,"y":280,"wires":[["168867c2.878678"]]},{"id":"a288c36e.75449","type":"debug","z":"c5adc523.8bec68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":420,"wires":[]},{"id":"b91698f9.a94788","type":"debug","z":"c5adc523.8bec68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":660,"wires":[]},{"id":"4ca925cc.19959c","type":"inject","z":"c5adc523.8bec68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":280,"wires":[["3613789f.7da768"]]},{"id":"fab7b6d0.97fde8","type":"link out","z":"c5adc523.8bec68","name":"","links":["a0f5a30e.6d9c2","103c3dad.b4f852"],"x":695,"y":560,"wires":[]},{"id":"b7b580f2.772e1","type":"debug","z":"c5adc523.8bec68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":500,"wires":[]},{"id":"73968d14.882784","type":"function","z":"c5adc523.8bec68","name":"send the first ","func":"var value = msg.payload.results[0].value\n\nmsg.payload={};\nmsg.payload.value=value;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["37c1ac23.c433a4"]]},{"id":"552ac8d0.e81258","type":"amqp in","z":"c5adc523.8bec68","name":"","topic":"","iotype":"4","ioname":"amp.direct","server":"df0b9975.8fffb8","x":340,"y":800,"wires":[["32426c59.059124"]]},{"id":"37c1ac23.c433a4","type":"amqp out","z":"c5adc523.8bec68","name":"","routingkey":"","iotype":"0","ioname":"amp.direct","server":"df0b9975.8fffb8","x":790,"y":740,"wires":[]},{"id":"32426c59.059124","type":"function","z":"c5adc523.8bec68","name":"msg to ","func":"var msg1=msg.payload.value\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["29982697.bd4e0a"]]},{"id":"103c3dad.b4f852","type":"link in","z":"c5adc523.8bec68","name":"","links":["fab7b6d0.97fde8"],"x":315,"y":740,"wires":[["73968d14.882784"]]},{"id":"168867c2.878678","type":"ui_toast","z":"c5adc523.8bec68","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"good","name":"","x":1400,"y":280,"wires":[]},{"id":"a2bac2a4.1040b","type":"ui_text","z":"c5adc523.8bec68","group":"ed130616.0ef188","order":1,"width":0,"height":0,"name":"","label":"LONDON LIVE DATA","format":"{{msg.payload}}","layout":"col-center","x":940,"y":800,"wires":[]},{"id":"a6d9cd3d.d2ecc","type":"inject","z":"c5adc523.8bec68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1060,"wires":[["cab68ab7.3e7ed8"]]},{"id":"cab68ab7.3e7ed8","type":"http request","z":"c5adc523.8bec68","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openaq.org/v1/measurements?city=London&parameter=no2","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":1060,"wires":[["391206d2.5d0e8a"]]},{"id":"391206d2.5d0e8a","type":"json","z":"c5adc523.8bec68","name":"","property":"payload","action":"","pretty":false,"x":510,"y":1060,"wires":[["3911c88e.85b228","c8ddddee.c221a"]]},{"id":"c8ddddee.c221a","type":"function","z":"c5adc523.8bec68","name":"filter data","func":" for (var i=0;i<msg.payload.results.length;i++){\n\n    var no2=msg.payload.results[i].value;\n    var date=msg.payload.results[i].date.local;\n    var lat=msg.payload.results[i].coordinates.latitude;\n    var lon=msg.payload.results[i].coordinates.longitude;\n    var data2 ={no2:\"\",date:\"\",lat:\"\",lon:\"\"};\n    var result=[];\n    data2.no2=no2;\n    data2.date=date;\n    data2.lat=lat;\n    data2.lon=lon;\n    result.push(data2);\n    var msg1 = {payload:result};\n    node.send(msg1);\n\n }\n\n   \n \n      \n    \n    \n","outputs":1,"noerr":0,"x":660,"y":1060,"wires":[["ee5c2b10.7daec8"]]},{"id":"a8b4a2e4.87326","type":"debug","z":"c5adc523.8bec68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1060,"wires":[]},{"id":"8e9b58b.3812ea8","type":"file","z":"c5adc523.8bec68","name":"data save1","filename":"C:\\Users\\Lefteris\\.node-red\\node_modules\\sqlite3\\no2.txt","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":970,"y":1060,"wires":[["a8b4a2e4.87326"]]},{"id":"4fead4be.c2403c","type":"function","z":"c5adc523.8bec68","name":"","func":"var test=new Array;\n//var send ={};\nfor(var i=0;i<24;i++)\n{\ntest[i]=msg.payload[i].no2;\n}\n\nmsg.payload={};\n\n\n\n\nvar m = {};\nm.labels =[\"low\", \"In-low1\", \",medium\",\"medium1\",\"medium2\",\"high1\",\"high2\",\"high3\"];\nm.data = test;\nm.series = [\"no2\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":970,"y":980,"wires":[["d7f9fbef.123398"]]},{"id":"d7f9fbef.123398","type":"ui_chart","z":"c5adc523.8bec68","name":"","group":"ed130616.0ef188","order":3,"width":6,"height":5,"label":"no2","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"3","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#d00202","#b5e1ce","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":980,"wires":[[]]},{"id":"3bfd6571.595fca","type":"inject","z":"c5adc523.8bec68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":520,"y":980,"wires":[["f6f7f185.bc57a"]]},{"id":"f6f7f185.bc57a","type":"file in","z":"c5adc523.8bec68","name":"text","filename":"C:\\Users\\Lefteris\\.node-red\\node_modules\\sqlite3\\no2.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":670,"y":980,"wires":[["cc776daa.254b4"]]},{"id":"ee5c2b10.7daec8","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"no2,date,lat,lon","skip":"0","strings":true,"x":810,"y":1060,"wires":[["8e9b58b.3812ea8"]]},{"id":"cc776daa.254b4","type":"csv","z":"c5adc523.8bec68","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"no2,date,lat,lon","skip":"0","strings":true,"x":810,"y":980,"wires":[["4fead4be.c2403c"]]},{"id":"40192f1d.731f6","type":"function","z":"c5adc523.8bec68","name":"send the first ","func":"var value = msg.payload.results[0].value\n\nmsg.payload={};\nmsg.payload.value=value;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1180,"wires":[["522e75f4.20fb2c"]]},{"id":"522e75f4.20fb2c","type":"amqp out","z":"c5adc523.8bec68","name":"","routingkey":"","iotype":"0","ioname":"no2.direct","server":"df0b9975.8fffb8","x":860,"y":1180,"wires":[]},{"id":"ed90edff.61eb4","type":"amqp in","z":"c5adc523.8bec68","name":"","topic":"","iotype":"4","ioname":"no2.quue","server":"df0b9975.8fffb8","x":480,"y":1240,"wires":[["f4db0a96.d6bfe8"]]},{"id":"f4db0a96.d6bfe8","type":"function","z":"c5adc523.8bec68","name":"msg to ","func":"var msg1=msg.payload.value\nmsg.payload=msg1;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1240,"wires":[["d0d18593.640b38"]]},{"id":"d0d18593.640b38","type":"ui_gauge","z":"c5adc523.8bec68","name":"","group":"ed130616.0ef188","order":4,"width":0,"height":0,"gtype":"gage","title":"live no2","label":"m/3","format":"no2","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"8","seg2":"40","x":860,"y":1240,"wires":[]},{"id":"174f5e83.3a7401","type":"link in","z":"c5adc523.8bec68","name":"","links":["3911c88e.85b228"],"x":375,"y":1180,"wires":[["40192f1d.731f6"]]},{"id":"3911c88e.85b228","type":"link out","z":"c5adc523.8bec68","name":"","links":["174f5e83.3a7401","95fe862e.0d2668"],"x":300,"y":980,"wires":[]},{"id":"c37ed392.68693","type":"ui_toast","z":"c5adc523.8bec68","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":280,"y":1240,"wires":[]},{"id":"29982697.bd4e0a","type":"ui_gauge","z":"c5adc523.8bec68","name":"","group":"ed130616.0ef188","order":5,"width":0,"height":0,"gtype":"gage","title":"live so2","label":"m/3","format":"so2","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"4","x":760,"y":800,"wires":[]},{"id":"ed130616.0ef188","type":"ui_group","z":"","name":"Charts","tab":"ee0888eb.fdafc8","order":2,"disp":false,"width":"6","collapse":false},{"id":"df0b9975.8fffb8","type":"amqp-server","z":"","host":"localhost","port":"5672","vhost":"lab2020","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}"},{"id":"ee0888eb.fdafc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]